.user-input {
	display: flex;
	flex-direction: column;
	align-content: center;
	margin: auto;
	h2 {
		margin: 0;
	}

	form {
		display: flex;
		flex-direction: column;
		align-content: center;
		margin: auto;

		.MuiTextField-root {
			margin: 5px 0;
		}

		.error {
			color: red;
			font-size: 12px;
		}

		.buttons {
			margin-top: 10px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
}
